.container{
    margin: 20px;
}
header {
    display: grid;
    justify-content: center;
    background-color: blueviolet;
    color: white;
    height: 80px;
}

body{
    font-family: 'Poppins', sans-serif;
}

/*---------- first step content---------- */

.first-view{
    display: flex;
    align-items: center; 
     
    
}
.view{
    width: 50%;
    padding-left: 70px;
}
.view img{
    width: 400px;
    padding-left: 60px;
    padding-top: 20px;
}
.view:hover img{
    transform: scale(1) skew(-20deg);
    transition: transform 3s;   

}

h1{
    font-size: 40px;
    font-weight: 700;
}

.link-button{
    text-decoration: none;
    background-color: blueviolet;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    
}
.fa-arrow-right{
    padding-left: 5px;
}
/* --------------logo view------------- */
hr{
    color: rgba(222, 184, 135, 0.371);
    margin-top: 50px;
    
    
}

.second-view{
    margin-top: 40px;
    padding-left: 26%;
}
/*-------------- product---------------- */
.Accessories{
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    
}
.All-products{
    margin-top: 40px;
    margin-left: 40px;   


}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px; 
    grid-column-gap: 20px;
   

}

.product .product-pic img{
    width: 350px;
    height: 200px;
    border-radius: 5px;   
    
    
}
.product{
    width: 350px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px skyblue;
    margin-top: 5%;
    overflow: hidden;   

}
.product:hover  img{
    transform: scale(1) skew(-20deg);
    transition: transform 3s;
}
.product:hover .about-product{
    transform: scale(1) skew(5deg);
    transition: transform 2s;
}
.about-product{
    padding-left: 10px;
    padding-bottom: 10px;
    
}
.fa-star.filled{
    color: gold;
}
/* ----------footer---------- */
footer{
    text-align: center;
    background-color: blueviolet;
    color: snow;
    margin-top: 5%;
    
}
